matrix:
  include:
    - language: node_js
      node_js:
        - 'node'
      before_script:
        - npm install --global awesome-lint
      script:
        - awesome-lint
    - language: ruby
      rvm: 2.2
      before_script:
        - gem install awesome_bot
      script:
        - awesome_bot README.md --allow-dupe

notifications:
  email: false
