@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans ExtraLight'), local('FiraSans-ExtraLight'), url('./firasansextralight.woff2') format('woff2'), url('./firasansextralight.woff') format('woff'), url('./firasansextralight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans ExtraLight Italic'), local('FiraSans-ExtraLightItalic'), url('./firasansextralightitalic.woff2') format('woff2'), url('./firasansextralightitalic.woff') format('woff'), url('./firasansextralightitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Light'), local('FiraSans-Light'), url('./firasanslight.woff2') format('woff2'), url('./firasanslight.woff') format('woff'), url('./firasanslight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Light Italic'), local('FiraSans-LightItalic'), url('./firasanslightitalic.woff2') format('woff2'), url('./firasanslightitalic.woff') format('woff'), url('./firasanslightitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Book'), local('FiraSans-Book'), url('./firasansbook.woff2') format('woff2'), url('./firasansbook.woff') format('woff'), url('./firasansbook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Book Italic'), local('FiraSans-BookItalic'), url('./firasansbookitalic.woff2') format('woff2'), url('./firasansbookitalic.woff') format('woff'), url('./firasansbookitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans'), local('FiraSans-Regular'), url('./firasans.woff2') format('woff2'), url('./firasans.woff') format('woff'), url('./firasans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Italic'), local('FiraSans-Italic'), url('./firasansitalic.woff2') format('woff2'), url('./firasansitalic.woff') format('woff'), url('./firasansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Medium'), local('FiraSans-Medium'), url('./firasansmedium.woff2') format('woff2'), url('./firasansmedium.woff') format('woff'), url('./firasansmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Medium Italic'), local('FiraSans-MediumItalic'), url('./firasansmediumitalic.woff2') format('woff2'), url('./firasansmediumitalic.woff') format('woff'), url('./firasansmediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'), url('./firasanssemibold.woff2') format('woff2'), url('./firasanssemibold.woff') format('woff'), url('./firasanssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans SemiBold Italic'), local('FiraSans-SemiBoldItalic'), url('./firasanssemibolditalic.woff2') format('woff2'), url('./firasanssemibolditalic.woff') format('woff'), url('./firasanssemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold'), local('FiraSans-Bold'), url('./firasansbold.woff2') format('woff2'), url('./firasansbold.woff') format('woff'), url('./firasansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'), url('./firasansbolditalic.woff2') format('woff2'), url('./firasansbolditalic.woff') format('woff'), url('./firasansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}